#logo {
    /* margin: 1vh; */
    background-image: url(../img/Long_logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#banner {
    margin-left: 5vw;
    margin-top: 1.5vw;
    box-shadow: 0px 15px 30px -7px rgba(0,0,0,0.75);
    border-radius: 5px;
    animation: banner 6s ease-in-out infinite;
    background-position: center;
    background-size: cover;
}

@keyframes banner {
    0% {
        background-image: url(https://images.unsplash.com/photo-1523275335684-37898b6baf30?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZHVjdHxlbnwwfHwwfHx8MA%3D%3D);
    }

    50% {
        background-image: url(https://cdn.shopify.com/s/files/1/0657/8569/2375/files/Cosmetic-Skincare-Product-photo-Table-top-setup.jpg?v=1681840139);
    }

    100% {
        background-image: url(https://d2v5dzhdg4zhx3.cloudfront.net/web-assets/images/storypages/primary/ProductShowcasesampleimages/JPEG/Product+Showcase-1.jpg);
    }
    
}

.buttonContainer {
    margin-left: 5vw;
    margin-top: 1.5em;
    box-shadow: 0px 15px 30px -7px rgba(0,0,0,0.75);
    border-radius: 5px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.productCard {
    display: grid;
    margin: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10vh 10vh;
    box-shadow: 0px 15px 30px -7px rgba(0, 0, 0, 0.327);
    border-radius: 5px;
    transition: all 0.5s;
}

.cardImage {
    background-size: cover;
    background-position: center;
}

.cardTitle {
    padding: 5px;
}

.cardButton {
    padding: 5px;
}
.cardButton a {
    padding: 10px;
    border: 1px solid black;
    box-shadow: 0px 15px 30px -7px rgba(0, 0, 0, 0.327);
    border-radius: 5px;
}

.productCard:hover {
    transform: scale(1.1);
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    ul {
        width: 100%;
        height: 80vh;
    }
    li {
        width: 16vw;
        height: 2vh;
        margin: 3vw;
        display: inline-block;
    }
    #banner {
        width: 90vw;
        height: 30vh;
    }
    .buttonContainer {
        width: 90vw;
        height: 80vh;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
}
@media only screen and (min-width: 600px) {
    ul {
        width: 100%;
        height: 80vh;
    }
    li {
        width: 15vw;
        height: 2vh;
        margin: 3vw;
        margin-top: 2vw;
        display: inline-block;
    }

    #banner {
        width: 90vw;
        height: 30vh;
    }
    .buttonContainer {
        width: 90vw;
        height: 40vh;
    }
}


@media only screen and (min-width: 768px) {
    ul {
        width: 100%;
        height: 80vh;
    }
    li {
        width: 10vw;
        height: 5vh;
        display: inline-block;
    }

    #banner {
        width: 78vw;
        height: 30vh;
    }
    .buttonContainer {
        width: 78vw;
        height: 40vh;
    }
}

@media only screen and (min-width: 992px) {
    #banner {
        width: 78vw;
        height: 30vh;
    }
    .buttonContainer {
        width: 78vw;
        height: 40vh;
    }
}
@media only screen and (min-width: 1200px) {
    #banner {
        width: 78vw;
        height: 30vh;
    }
    .buttonContainer {
        width: 78vw;
        height: 50vh;
    }
}