* {
    margin: 0;
    padding: 0;
    border: 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
}

header {
    grid-area: header;
    box-shadow: 0px 0px 31px 2px rgba(0,0,0,0.75);
    display: grid;
    grid-template-areas: 
    "logo whitespace phoneNav";
}
main {
    grid-area: main;
    overflow-y: auto;
}
aside {
    grid-area: aside;
}

#logo {
    grid-area: logo;
}
#phone_nav {
    background-image: url(https://cdn.icon-icons.com/icons2/3215/PNG/512/hamburger_menu_navbar_options_icon_196495.png);
    grid-area: phoneNav;
    background-size: cover;
    background-position: center;
}

#nav_burger {
    width: 100%;
    height: 100%;
    display: block;
}

ul {
    margin: 1.5vw;
    padding: 1vw;
    list-style: none;
    box-shadow: 0px 27px 35px -7px rgba(0,0,0,0.75);
    height: 80vh;
    border-radius: 5px;
}

li {
    display: block;
}

.navButton {
    width: 1fr;
    height: 1fr;
    display: block;
    border-radius: 5px;
    box-shadow: 0px 15px 30px -7px rgba(0,0,0,0.75);
    padding: 18px;
    transition: all 0.5s;
}

.navButton:hover {
   transform: scale(1.1);
   box-shadow: 0px 20px 30px -7px rgba(0, 0, 0, 0.904);
}



#dropdown {
    display: none;
    visibility: hidden;
    margin-top: 7vh;
    box-shadow: 0px 15px 30px -7px rgba(0,0,0,0.75);
}

#phone_nav:hover #dropdown {
    display: flex;
    flex-direction: column;
    visibility: visible;
    position: absolute;
    width: 30vw;
    left: 66vw;
    height: 50vh;
    background-color: white;
}

.phone_nav_button {
    flex: 1;
    color: black;
    padding: 10px;
}

.phone_nav_button:hover {
    transform: scale(1.05);
    box-shadow: 0px 20px 30px -7px rgba(0, 0, 0, 0.904);
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .layout {
        display: grid;
        grid-template-areas: 
        "header"
        "main";
        width: 100vw;
        height: 100vh;
        grid-template-rows: 10vh 90vh;
        grid-template-columns: 1fr;
        overflow: hidden;
    }
    aside {
        visibility: hidden;
    }
    header {
        grid-template-columns: 50vw 35vw 15vw;
    }
    #phone_nav {
        visibility: visible;
    }
}
@media only screen and (min-width: 600px) {
    .layout {
        display: grid;
        grid-template-areas: 
        "header"
        "aside"
        "main";
        width: 100vw;
        height: 100vh;
        grid-template-rows: 10vh 10vh 80vh;
        grid-template-columns: 1fr;
        overflow: hidden;
    }
    header {
        grid-template-columns: 25vw 63vw 12vw;
    }
    aside {
        visibility: hidden;
    }
    #phone_nav {
        visibility: visible;
    }
}
@media only screen and (min-width: 768px) {
    .layout {
        display: grid;
        grid-template-areas: 
        "header header header header"
        "aside main main main"
        "aside main main main";
        width: 100vw;
        height: 100vh;
        grid-template-rows: 10vh 40vh 50vh;
        grid-template-columns: 15vw 1fr 1fr 1fr;
        overflow: hidden;
    }
    header {
        grid-template-columns: 20vw 70vw 10vw;
    }
    aside {
        visibility: visible;
    }
    #phone_nav {
        visibility: hidden;
    }
    
}
@media only screen and (min-width: 992px) {
    .layout {
        display: grid;
        grid-template-areas: 
        "header header header header"
        "aside main main main"
        "aside main main main";
        width: 100vw;
        height: 100vh;
        grid-template-rows: 10vh 40vh 50vh;
        grid-template-columns: 15vw 1fr 1fr 1fr;
    }
    aside {
        visibility: visible;
    }
    header {
        grid-template-columns: 15vw 75vw 10vw;
    }
    #phone_nav {
        visibility: hidden;
    }
}
@media only screen and (min-width: 1200px) {
    .layout {
        display: grid;
        grid-template-areas: 
        "header header header header"
        "aside main main main"
        "aside main main main";
        width: 100vw;
        height: 100vh;
        grid-template-rows: 10vh 40vh 50vh;
        grid-template-columns: 15vw 1fr 1fr 1fr;
    }
    aside {
        visibility: visible;
    }
    header {
        grid-template-columns: 11vw 80vw 9vw;
    }
    #phone_nav {
        visibility: hidden;
    }
}