* {
    margin: 0;
    padding: 0;
    border: 0;
    color: black;
}

header {
    grid-area: header;
    box-shadow: 0px 0px 31px 2px rgba(0,0,0,0.75);
}
main {
    grid-area: main;
}
aside {
    grid-area: aside;
}
footer {
    grid-area: footer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .layout {
        display: grid;
        grid-template-areas: 
        "header"
        "aside"
        "main"
        "footer";
        width: 100vw;
        height: 100vh;
        grid-template-rows: 10vh 10vh 60vh 20vh;
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width: 600px) {
    .layout {
        display: grid;
        grid-template-areas: 
        "header"
        "aside"
        "main"
        "footer";
        width: 100vw;
        height: 100vh;
        grid-template-rows: 10vh 10vh 60vh 20vh;
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width: 768px) {
    .layout {
        display: grid;
        grid-template-areas: 
        "header header header header"
        "aside main main main"
        "aside main main main"
        "footer footer footer footer";
        width: 100vw;
        height: 100vh;
        grid-template-rows: 10vh 40vh 40vh 10vh;
        grid-template-columns: 15vw 1fr 1fr 1fr;
    }
    
}
@media only screen and (min-width: 992px) {
    .layout {
        display: grid;
        grid-template-areas: 
        "header header header header"
        "aside main main main"
        "aside main main main"
        "footer footer footer footer";
        width: 100vw;
        height: 100vh;
        grid-template-rows: 10vh 40vh 40vh 10vh;
        grid-template-columns: 15vw 1fr 1fr 1fr;
    }
}
@media only screen and (min-width: 1200px) {
    .layout {
        display: grid;
        grid-template-areas: 
        "header header header header"
        "aside main main main"
        "aside main main main"
        "footer footer footer footer";
        width: 100vw;
        height: 100vh;
        grid-template-rows: 10vh 40vh 40vh 10vh;
        grid-template-columns: 15vw 1fr 1fr 1fr;
    }
}